* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 38px;
    background: #141024;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0; 
    background: 
        linear-gradient(currentColor 0 0) bottom left / var(--d-width, 0%) 2px no-repeat,
        linear-gradient(currentColor 0 0) top right   / var(--d-width, 0%) 2px no-repeat;
    transition: background-size 0.4s ease;
}

.number {
    background: 
        linear-gradient(currentColor 0 0) bottom left / var(--d-width, 0%) 2px no-repeat,
        linear-gradient(currentColor 0 0) top right   / var(--d-width, 0%) 2px no-repeat;
    transition: background-size 0.4s ease;
}

.number:hover {
    --d-width: 100%; 
}

.nav a:hover {
    --d-width: 100%; 
}

.sign-in {
    background: #D52027;
    color: white;
}

.main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-block img {
    width: 29rem;
    height: 34rem;
    margin-top: 3rem;
}

.left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
    width: 35vw;
}

.sign-up {
    background-color: red;
    border: 3px solid red;
    color: white;
    width: 13rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    transition: all ease 0.4s;
}

.sign-up:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
    cursor: pointer;
}